@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout - CP.cshtml";
}
<div class="breadcrumb" style="background-color:lightblue">
    <h2 class="breadcrumb" style="background-color:forestgreen">
        Admin Panel.........
    </h2>
    <h3 class="breadcrumb" style="background-color:yellowgreen">
        Simple description for a new admin...
    </h3>
    <p class="breadcrumb" style="text-align:match-parent">
        <br />
        As a admin, you will get all facility from this site.<br />
        such as you will give update the hotel information, hotel services, hotel gallary images, hotel room types <br/>
        hotel partner information, hotel facilities, hotel room facilities and <br/> many more...........<br/><br/>
        <hr />
    </p>
</div>

